@model IndexPostPictureViewModel
@{
    ViewData["Title"] = "Фото постов";
}

<form method="get" asp-action="IndexPostPicture" >
    <div>
        <label style="color : lightyellow"> Id:</label>
        <input name="id" type="text" pattern="([0-9]{1,})" />
        <label style="color : lightyellow">Фото:</label>
        <input name="email" type="text" />

        <input class="btn btn-outline-primary" type="submit" value="Поиск" />
    </div>
</form>
<table class="table">
    <tr class="tr">
        <td class="td">
            <a asp-action="IndexPostPicture" asp-route-sortOrder="@ViewBag.IdSort">
                ID
            </a>
        </td>
        <td class="td">
            <a asp-action="IndexPostPicture" asp-route-sortOrder="@ViewBag.EmailSort">
                Фото
            </a>
        </td>
    </tr>
    @foreach (var item in Model.Pictureepost)
    {
        <tr class="tr">
            <td class="td">
                @item.Id
            </td>
            <td class="td">
                @item.Name_Picture
            </td>
            <td class="td">
                <a asp-action="DetailsPostPicture" asp-controller="home" asp-route-id="@item.Id" style="color :forestgreen">Подробнее</a>
                <a asp-action="DeletePostPicture" asp-controller="home" asp-route-id="@item.Id" style="color :red">X</a>
                <a asp-action="EditPostPicture" asp-controller="home" asp-route-id="@item.Id" style="color :lightyellow">Изменить</a>
            </td>
        </tr>
    }
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="IndexPicture" asp-route-page="@(Model.PageViewModel.PageNumber-1)"
       asp-route-sortOrder="@Model.SortViewModel.Current"
       asp-route-id="@Model.FilterViewModel.SelectId"
       asp-route-email="@Model.FilterViewModel.SelectEmail"
       class="btn btn-outline-primary">Назад</a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-route-page="@(Model.PageViewModel.PageNumber+1)"
       asp-route-sortOrder="@Model.SortViewModel.Current"
       asp-route-id="@Model.FilterViewModel.SelectId"
       asp-route-email="@Model.FilterViewModel.SelectEmail"
       class="btn btn-outline-primary">Вперед</a>
}
<a class="btn btn-outline-primary" asp-action="CreatePostPicture">Добавить фотографию поста</a>
    <a class="btn btn-outline-primary" asp-action="Index">На панель Админа</a>


<style>
    body {
        background: #222D32;
        font-family: 'Roboto', sans-serif;
    }

    .login-box {
        margin-top: 75px;
        height: auto;
        background: #1A2226;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .login-key {
        height: 100px;
        font-size: 80px;
        line-height: 100px;
        background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .login-title {
        margin-top: 15px;
        text-align: center;
        font-size: 30px;
        letter-spacing: 2px;
        margin-top: 15px;
        font-weight: bold;
        color: #ECF0F5;
    }

    .login-form {
        margin-top: 25px;
        text-align: left;
    }

    input[type=text] {
        background-color: #1A2226;
        border: none;
        border-bottom: 2px solid #0DB8DE;
        border-top: 0px;
        border-radius: 0px;
        font-weight: bold;
        outline: 0;
        margin-bottom: 20px;
        padding-left: 0px;
        color: #ECF0F5;
    }

    input[type=password] {
        background-color: #1A2226;
        border: none;
        border-bottom: 2px solid #0DB8DE;
        border-top: 0px;
        border-radius: 0px;
        font-weight: bold;
        outline: 0;
        padding-left: 0px;
        margin-bottom: 20px;
        color: #ECF0F5;
    }

    .form-group {
        margin-bottom: 40px;
        outline: 0px;
    }

    .form-control:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 2px solid #0DB8DE;
        outline: 0;
        background-color: #1A2226;
        color: #ECF0F5;
    }

    input:focus {
        outline: none;
        box-shadow: 0 0 0;
    }

    label {
        margin-bottom: 0px;
    }

    .form-control-label {
        font-size: 10px;
        color: #6C6C6C;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .btn-outline-primary {
        border-color: #0DB8DE;
        color: #0DB8DE;
        border-radius: 0px;
        font-weight: bold;
        letter-spacing: 1px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

        .btn-outline-primary:hover {
            background-color: #0DB8DE;
            right: 0px;
        }

    .login-btm {
        float: right;
    }

    .login-button {
        padding-right: 0px;
        text-align: right;
        margin-bottom: 25px;
    }

    .login-text {
        text-align: left;
        padding-left: 0px;
        color: #A2A4A4;
    }

    .loginbttm {
        padding: 0px;
    }

    .table {
        color: blueviolet;
        border: solid 2px #ECF0F5;
        outline: solid 1px #ECF0F5;
    }

    .tr {
        border: solid 1px #ECF0F5;
        outline: solid 1px #ECF0F5;
    }

    .td {
        border: solid 1px #ECF0F5;
        outline: solid 1px #ECF0F5;
    }
    </style>